<% if travels.empty? %>
  <h2>There are no posts yet <span class="glyphicon glyphicon-plane"></span></h2>
  <%= link_to 'Why not share your own?', new_travel_path %>
<% end %>
<% travels.each do |travel| %>
  <div class="row single-column-row travel-index">
    <div class="col-sm-4 travel-info">
      <% if travel.facade.present? %>
        <%= link_to image_tag(travel.facade) if travel.facade.present? %>
      <% else %>
        <img src="/assets/thumbnail-placeholder-300x300" alt="">
      <% end %>
      <h3><%= link_to travel.title, travel %> 
    </h3>
    <% if current_user == travel.user %>
      <p><%= link_to 'Edit', edit_travel_path(travel)%></p>
    <% end %>
    <p>by <%= User.find_by_id(travel.user_id).name %></p>
    <%= render partial: 'layouts/tags', locals: {travel: travel} %>
    </div>
    <div class="col-sm-8 travel-content text-justify">
      <p><%= markdown(truncate(travel.content, length: 600, separator: ' ', omission: '... ') {"[sigue leyendo](#{travel_path(travel)})"}) %></p>
    </div>
  </div>
<% end %>
