<div class="travel well">

  <%# ---- This was a piece of work. Showing some respect ---- %>

  <div class="facade-container" data-toggle="modal" data-target="#gallery">
    <div class="facade-image">
      <%= image_tag(travel.facade) if travel.facade.present? %>
    </div>
    <h2 class="facade-link">
      <%= link_to travel.title, travel_path(travel) %>
      <small>by <%= link_to travel.user.name, travel.user %></small>
    </h2>
  </div>

  <%# -------- %>

  <hr>
  <div class="text-justify">
    <p>Publicado el <%= travel.published_at.to_date if travel.published? %></p>
    <p><%= markdown(travel.content) %></p>

    <hr>
    <%= render partial: 'layouts/tags', locals: {travel: travel} %>
    <% if travel.user == current_user %>
      <%= link_to 'Edit', edit_travel_path(travel), class: 'edit-travel' %>
    <% end %>

    <div id="gallery" class="modal fade" tabindex="-1" aria-labelledby="imageGallery">
      <div class="row single-column-row above-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <%= image_tag(travel.facade) if travel.facade.present? %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
