<% @travels.each do |travel| %>
  <div class="row first-row">
    <%= link_to travel.title, travel_path(travel) %> <small>by <%= User.find_by_id(travel.user_id).name %></small>
    <% if current_user == travel.user_id %>
      <%= link_to 'Edit', edit_travel_path(travel)%>
    <% end %>
    <p>
    <%= markdown(travel.content) %>
    </p>
    <%= link_to 'Show', travel %>
  </div>
<% end %>

<br>

<%= link_to 'New Travel', new_travel_path %>
