<div class="facade">
  <%= image_tag(@travel.facade, size: "300x200") if @travel.facade.present? %>
</div>
<p>
  <strong><%= @travel.title %></strong> <small>by <%= link_to User.find_by_id(@travel.user_id).name %></small> 
</p>

<p>
  <%= markdown(@travel.content) %>
</p>

<p>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
<%= console %>
