<%= render partial: 'layouts/navbar', locals: {navbar_offset: 70} %>
<div class="row first-row">
  <div class="col-md-3">
    <aside id="archive">
    </aside>
  </div>
  <div class="col-md-6 travel text-center">
    <% if last_travel = Travel.last %>
      <h2>
        <%= link_to last_travel.title, travel_path(last_travel) %> <small>by <%= User.find_by_id(last_travel.user_id).name %></small>
        <% if current_user == last_travel.user_id %>
          <%= link_to 'Edit', edit_travel_path(last_travel)%>
        <% end %>
      </h2>
      <p>
        <%= markdown(last_travel.content) %>
      </p>
    <% else %>
      <h2>There are no posts yet <span class="glyphicon glyphicon-plane"></span></h2>
      <%= link_to 'Why not share your own?', new_travel_path %>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
