<nav id="navigate" class="navbar" data-spy="affix" data-offset-top="<%= navbar_offset %>">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-justified">
        <li><%= link_to 'Inicio', root_path %></li>
        <li><%= link_to 'LowCost', travels_path %></li>
        <li><%= link_to 'Internacional', travels_path %></li>
        <li><%= link_to 'Nacional', travels_path %></li>
        <li><form class="navbar-form" role="search">
            <%= search_field_tag :keywords, params[:keywords], class:'form-control', maxlength: 128, placeholder: "Search..." %>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
